{% extends "base.html" %}

{% block title %}Notebook{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>About the Notebook App</h1>
    <p>Well written handwritten notebooks are advantageous over digital versions because they are far harder to fake reliably, and can provide a useful and truthful history - complete with crossings out and mistakes. This project intends to make use of encryption and blockchain to make a reliable and secure digital notebook.</p>
    <h3>Attributions</h3>
    <ul>
      <li>My wife and father-in-law, for their patience and help</li>
    </ul>
  </div>
</div>
{% endblock %}
