{% extends "base.html" %}

{% block title %}Notebook{% endblock %}

{% block page_content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">
  <div class="page-header">
    {{ presentation_notebook|safe }}
  </div>
</div>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}
